{% extends 'base.html' %} {% load static %} {% block content %}
<main class="main">
	<div class="section pt-60 pb-60 bg-primary">
		<div class="container-sub">
			<h1 class="heading-44-medium color-white mb-5">About Us</h1>
			<div class="box-breadcrumb">
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section wow fadeInUp">
		<img src="{% static 'assets/imgs/page/about/banner.png' %}" alt="luxride" />
	</div>
	<section class="section">
		<div class="container-sub">
			<div class="mt-60">
				<h2 class="heading-44-medium mb-30 color-text title-fleet wow fadeInUp">Company Overview</h2>
				<div class="content-single wow fadeInUp">
					<p>
						<b>Velvet Essence Limousine Services LLC</b> is a premier luxury transportation company based in
						<b>New Rochelle, New York</b>, proudly serving <b>Westchester County, New York City,</b> the
						<b>Tri- State Area, and</b>
						Rochelle, New York, proudly serving Westchester County, New York City, the Tri- State Area, and
						all major airports. Conveniently located just minutes from
						<b>Westchester County Airport (HPN),</b> we provide prompt access to
						<b>JFK, LaGuardia (LGA), Newark Liberty (EWR),</b> and all other surrounding airports.
					</p>
					<p>
						We specialize in airport transfers, corporate travel, weddings, special events, and private
						chauffeur services. With luxury vehicles, professional chauffeurs, and a commitment to exceptional
						service, we deliver safe, reliable, and first-class transportation for every journey.
					</p>
					<h2 class="heading-44-medium mb-30 color-text title-fleet wow fadeInUp">Our Vision</h2>
					<p>
						To be the premier luxury limousine and chauffeur service in Westchester County and the Tri- State
						Area, recognized for excellence, reliability, and an exceptional customer experience on every
						journey.
					</p>
					<h2 class="heading-44-medium mb-30 color-text title-fleet wow fadeInUp">Our Mission</h2>
					<p>
						At <b>Velvet Essence Limousine Services LLC</b>, our mission is to provide safe, reliable, and
						luxury transportation with professionalism, punctuality, and personalized service. We are
						committed to exceeding our clients' expectations by delivering comfortable, stress-free travel for
						airport transfers, corporate transportation, special events, and every occasion in between.
					</p>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}
