{% load static %}
<footer class="footer">
	<div class="footer-1">
		<div class="container-sub">
			<div class="box-footer-top">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6 text-md-start text-center mb-15 wow fadeInUp">
						<div class="d-flex align-items-center justify-content-md-start justify-content-center">
							<a class="mr-30" href="#"
								><img src="{% static 'assets/imgs/template/velvet-logo.png' %}" alt="Luxride" /></a
							><a class="text-14-medium call-phone color-white hover-up" href="tel:+41227157000"
								>914-501-1564</a
							>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 text-md-end text-center mb-15 wow fadeInUp">
						<div class="d-flex align-items-center justify-content-md-end justify-content-center">
							<span class="text-18-medium color-white mr-10">Follow Us</span
							><a class="icon-socials icon-facebook" href="#"></a
							><a class="icon-socials icon-twitter" href="#"></a
							><a class="icon-socials icon-instagram" href="#"></a
							><a class="icon-socials icon-linkedin" href="#"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row mb-40">
				<div class="col-lg-4 width-30">
					<h5 class="text-18-medium color-white mb-20 wow fadeInUp">Company</h5>
					<ul class="menu-footer wow fadeInUp">
						<li><a href="">Home</a></li>
						<li><a href="{% url 'fleet' %}">Our Fleet</a></li>
						<li><a href="{% url 'services' %}">Our Services</a></li>
						<li><a href="{% url 'about' %}">About</a></li>
{#						<li><a href="{% url 'blog' %}">Blog</a></li>#}
						<li><a href="{% url 'contact' %}">Contact</a></li>
						<!-- <li><a href="#">Gift cards</a></li> -->
					</ul>
				</div>
				<!-- <div class="col-lg-3 width-20 mb-30">
					<h5 class="text-18-medium color-white mb-20 wow fadeInUp">Top cities</h5>
					<ul class="menu-footer wow fadeInUp">
						<li><a href="about.html">New York</a></li>
						<li><a href="our-team.html">London</a></li>
						<li><a href="#">Berlin</a></li>
						<li><a href="#">Los Angeles</a></li>
						<li><a href="#">Paris</a></li>
					</ul>
				</div> -->
				<div class="col-lg-4 width-30 mb-30">
					<h5 class="text-18-medium color-white mb-20 wow fadeInUp">Services</h5>
					<ul class="menu-footer wow fadeInUp">
						<li><a href="#">Business Class Service</a></li>
						<li><a href="#">chauffeur service</a></li>
						<li><a href="#">Airport Transfer service</a></li>
						<li><a href="#">Travel transfer</a></li>
					</ul>
				</div>
				<div class="col-lg-4 width-30 mb-30">
					<h5 class="text-18-medium color-white mb-20 wow fadeInUp">Classes</h5>
					<ul class="menu-footer wow fadeInUp">
						<li><a href="#">Business</a></li>
						<li><a href="#">First</a></li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-2">
		<div class="container-sub">
			<div class="footer-bottom">
				<div class="row align-items-center">
					<div class="col-lg-8 col-md-12 text-center text-lg-start">
						<span class="text-14 color-white mr-50">© {% now "Y" %} Velvet Limo</span>
						<ul class="menu-bottom">
							<!-- <li><a href="term-conditions.html">Terms</a></li> -->
							<li><a href="{% url 'privacy' %}">Privacy policy</a></li>
							<!-- <li><a href="term-conditions.html">Legal notice</a></li>
							<li><a href="#">Accessibility</a></li>  -->
						</ul>
					</div>
					<div class="col-lg-4 col-md-12 text-center text-lg-end">
						<a class="btn btn-link-location" href="#">New York</a
						><a class="btn btn-link-globe active" href="#">English</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
