{% extends 'base.html' %} {% load static %} {% block content %}
<style>
	.swiper-group-4-service .swiper-slide,
	.swiper-group-4-fleet .swiper-slide {
		display: flex;
		height: auto;
	}

	.cardService,
	.cardFleet {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.cardService .cardInfo,
	.cardFleet .cardInfo {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}

	.cardService .cardImage,
	.cardFleet .cardImage {
		display: flex;
		align-items: stretch;
		justify-content: center;
	}

	.cardService .cardImage img,
	.cardFleet .cardImage img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.fleet-meta {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.fleet-meta .text-14 {
		display: inline-flex;
		align-items: baseline;
		gap: 6px;
		font-weight: 600;
	}

	.fleet-meta .fleet-meta-value {
		font-size: 18px;
		font-weight: 800;
		line-height: 1;
	}
	
	.banner-home1 .box-banner-info {
		top: 34%;
	}

	@media (max-width: 767px) {
		.banner-home1 .box-banner-info {
			top: 22%;
		}
	}
</style>
<main class="main">
	<section class="section banner-home1">
		<div class="box-swiper">
			<div class="swiper-container swiper-banner-1 pb-0">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div
							class="box-cover-image"
							style="background-image: url('{% static 'assets/imgs/page/homepage1/banner.png' %}')"></div>
						<div class="box-banner-info">
							<p class="text-16 color-white wow fadeInUp">Where Can Velvet Take You?</p>
							<h2 class="heading-52-medium color-white wow fadeInUp">
								Your New York <br class="d-none d-lg-block" />Chauffeur Service
							</h2>
						</div>
					</div>
					<!-- <div class="swiper-slide">
						<div
							class="box-cover-image"
							style="background-image: url('{% static 'assets/imgs/page/homepage1/banner2.png' %}')"></div>
						<div class="box-banner-info">
							<p class="text-16 color-white wow fadeInUp">Where Would You Like To Go?</p>
							<h2 class="heading-52-medium color-white wow fadeInUp">
								Your Personal <br class="d-none d-lg-block" />Chauffeur Services
							</h2>
						</div>
					</div>
					<div class="swiper-slide">
						<div
							class="box-cover-image"
							style="background-image: url('{% static 'assets/imgs/page/homepage1/banner3.png' %}')"></div>
						<div class="box-banner-info">
							<p class="text-16 color-white wow fadeInUp">Where Would You Like To Go?</p>
							<h2 class="heading-52-medium color-white wow fadeInUp">
								Your Personal <br class="d-none d-lg-block" />Chauffeur Services
							</h2>
						</div>
					</div>
					<div class="swiper-slide">
						<div
							class="box-cover-image"
							style="background-image: url('{% static 'assets/imgs/page/homepage1/banner4.png' %}')"></div>
						<div class="box-banner-info">
							<p class="text-16 color-white wow fadeInUp">Where Would You Like To Go?</p>
							<h2 class="heading-52-medium color-white wow fadeInUp">
								Your Personal <br class="d-none d-lg-block" />Chauffeur Services
							</h2>
						</div>
					</div>
					<div class="swiper-slide">
						<div
							class="box-cover-image"
							style="background-image: url('{% static 'assets/imgs/page/homepage1/banner5.png' %}')"></div>
						<div class="box-banner-info">
							<p class="text-16 color-white wow fadeInUp">Where Would You Like To Go?</p>
							<h2 class="heading-52-medium color-white wow fadeInUp">
								Your Personal <br class="d-none d-lg-block" />Chauffeur Services
							</h2>
						</div>
					</div> -->
				</div>
				<!-- <div class="box-pagination-button">
					<div class="swiper-button-prev swiper-button-prev-banner"></div>
					<div class="swiper-button-next swiper-button-next-banner"></div>
					<div class="swiper-pagination swiper-pagination-banner"></div>
				</div> -->
			</div>
		</div>
		<form id="quote-form" class="box-search-ride box-search-ride-quote wow fadeInUp" action="{% url 'quote_request' %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="service_type" value="one_way" data-quote-trip-type />
			<div class="quote-reserve-options">
				<span class="text-14 color-grey">Reserve Options:</span>
				<ul class="nav nav-tabs nav-tabs-search" role="tablist">
					<li><a class="active" href="#" data-quote-option="one_way">One Way</a></li>
					<li><a href="#" data-quote-option="return">Return</a></li>
					<li><a href="#" data-quote-option="hourly">Hourly</a></li>
				</ul>
			</div>
			<div class="quote-search-row quote-search-row-address">
				<div class="search-item search-from">
					<div class="search-icon"><span class="item-icon icon-from"> </span></div>
					<div class="search-inputs">
						<label class="text-14 color-grey">Pick Up</label>
						<input id="quote-pickup" class="search-input quote-address-input" type="text" name="pickup" placeholder="Enter pickup location" />
					</div>
				</div>
				<div class="search-item search-to">
					<div class="search-icon"><span class="item-icon icon-to"> </span></div>
					<div class="search-inputs">
						<label class="text-14 color-grey">Drop Off</label>
						<input id="quote-dropoff" class="search-input quote-address-input" type="text" name="dropoff" placeholder="Enter drop off location" />
					</div>
				</div>
				<div class="search-item search-add-stop">
					<div class="search-icon"><span class="item-icon icon-add-stop"> </span></div>
					<div class="search-inputs">
						<label class="text-14 color-grey">Add Stop</label>
						<input id="quote-stop" class="search-input quote-address-input" type="text" name="stop" placeholder="Optional stop" />
					</div>
				</div>
			</div>
			<div class="quote-search-row quote-search-row-conditional" data-quote-fields="return" hidden>
				<div class="search-item search-date">
					<div class="search-icon"><span class="item-icon icon-date"> </span></div>
					<div class="search-inputs">
						<label class="text-14 color-grey">Return Date</label>
						<input class="search-input datepicker" type="text" name="return_date" placeholder="Return date" />
					</div>
				</div>
				<div class="search-item search-time">
					<div class="search-icon"><span class="item-icon icon-time"> </span></div>
					<div class="search-inputs">
						<label class="text-14 color-grey">Return Time</label>
						<input class="search-input" type="time" name="return_time" />
					</div>
				</div>
				<div class="search-item search-riders">
					<div class="search-icon"><span class="item-icon icon-add-stop"> </span></div>
					<div class="search-inputs">
						<label class="text-14 color-grey">Return Pickup</label>
						<input
							class="search-input quote-address-input"
							type="text"
							name="return_pickup"
							placeholder="Optional return pickup" />
					</div>
				</div>
			</div>
			<div class="quote-search-row quote-search-row-conditional" data-quote-fields="hourly" hidden>
				<div class="search-item search-date">
					<div class="search-icon"><span class="item-icon icon-time"> </span></div>
					<div class="search-inputs">
						<label class="text-14 color-grey">Hours</label>
						<input class="search-input" type="number" name="hours" min="1" value="3" />
					</div>
				</div>
				<div class="search-item search-to">
					<div class="search-icon"><span class="item-icon icon-to"> </span></div>
					<div class="search-inputs">
						<label class="text-14 color-grey">Service Area</label>
						<input class="search-input quote-address-input" type="text" name="hourly_area" placeholder="City or area" />
					</div>
				</div>
				<div class="search-item search-riders">
					<div class="search-icon"><span class="item-icon icon-add-stop"> </span></div>
					<div class="search-inputs">
						<label class="text-14 color-grey">Notes</label>
						<input class="search-input" type="text" name="hourly_notes" placeholder="Optional notes" />
					</div>
				</div>
			</div>
			<div class="quote-search-row quote-search-row-details">
				<div class="search-item search-date">
					<div class="search-icon"><span class="item-icon icon-date"> </span></div>
					<div class="search-inputs">
						<label class="text-14 color-grey">Date</label>
						<input
							id="quote-trip-date"
							class="search-input datepicker"
							type="text"
							name="trip_date"
							placeholder="Select date" />
					</div>
				</div>
				<div class="search-item search-time">
					<div class="search-icon"><span class="item-icon icon-time"> </span></div>
					<div class="search-inputs">
						<label class="text-14 color-grey">Time</label>
						<input
							id="quote-trip-time"
							class="search-input"
							type="time"
							name="trip_time"
							placeholder="Select time" />
					</div>
				</div>
				<div class="search-item search-riders">
					<div class="search-icon"><span class="item-icon icon-riders"> </span></div>
					<div class="search-inputs">
						<label class="text-14 color-grey">Riders</label>
						<input class="search-input" type="number" name="riders" min="1" value="1" />
					</div>
				</div>
				<div class="search-item search-button">
					{% if user.is_authenticated %}
					<button class="btn btn-search" type="submit">
						<img src="{% static 'assets/imgs/template/icons/search.svg' %}" alt="luxride" />Get a Quote
					</button>
					{% else %}
					<a class="btn btn-search" href="{% url 'login' %}">Login to Get a Quote</a>
					{% endif %}
				</div>
			</div>
		</form>
		{% if USE_GOOGLE_MAPS_API and GOOGLE_MAPS_API_KEY %}
		<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places" async defer></script>
		<script>
			window.addEventListener('load', function () {
				if (!window.google || !google.maps || !google.maps.places) return;
				document.querySelectorAll('.quote-address-input').forEach(function (input) {
					new google.maps.places.Autocomplete(input, { types: ['geocode'] });
				});
			});
		</script>
		{% endif %}
	</section>
	<!-- <section class="section pt-65 pb-35 border-bottom">
		<div class="container-sub">
			<div class="row align-items-center">
				<div class="col-xl-3 col-lg-4 mb-30">
					<h3 class="color-primary wow fadeInUp">
						The partners who sell<br class="d-none d-lg-block" />our products
					</h3>
				</div>
				<div class="col-xl-9 col-lg-8 mb-30">
					<ul class="list-logos d-flex align-item-center wow fadeInUp">
						<li><img src="{% static 'assets/imgs/slider/logo/air.svg' %}" alt="luxride" /></li>
						<li><img src="{% static 'assets/imgs/slider/logo/eb.svg' %}" alt="luxride" /></li>
						<li><img src="{% static 'assets/imgs/slider/logo/nba.svg' %}" alt="luxride" /></li>
						<li><img src="{% static 'assets/imgs/slider/logo/nla.svg' %}" alt="luxride" /></li>
					</ul>
				</div>
			</div>
		</div>
	</section> -->
	<section class="section pt-90 pb-120 bg-our-service">
		<div class="container-sub">
			<div class="row mt-40">
				<div class="col-lg-10">
					<h3 class="text-20-medium color-text mb-10 wow fadeInUp">
						Luxury Limousine &amp; Chauffeur Services:
					</h3>
					<p class="text-16 color-text mb-30 wow fadeInUp">
						We provide premium limousine and black car transportation throughout
						<strong>Westchester County, New York City,</strong> the <strong>Tri-State Area</strong> (New York,
						New Jersey, and Connecticut), and <strong>All Major Airports</strong> (HPN, LGA, JFK, EWR, TEB,
						SWF, PHL, BOS).
					</p>
					<h2 class="heading-44-medium color-text mb-10 wow fadeInUp">Our Specialties:</h2>
					<p class="text-16 color-text mb-0 wow fadeInUp">
						1. Premium Services.<br />
						2. Professional Chauffeurs.<br />
						3. Available 24/7.<br />
						4. Airport Services.
					</p>
				</div>
			</div>
		</div>
		<div class="box-slide-fleet mt-50">
			<div class="box-swiper">
					<div class="swiper-container swiper-group-4-service pb-0">
						<div class="swiper-wrapper">
							{% for service in services %}
							<div class="swiper-slide">
								<div class="cardService wow fadeInUp">
									<div class="cardInfo">
										<h3 class="cardTitle text-20-medium color-white mb-10">{{ service.title }}</h3>
										<div class="box-inner-info">
											<p class="cardDesc text-14 color-white mb-30">{{ service.short_description }}</p>
											<a class="cardLink btn btn-arrow-up" href="{% url 'services' %}">
												<svg
													class="icon-16"
													fill="none"
												stroke="currentColor"
												stroke-width="1.5"
												viewbox="0 0 24 24"
												xmlns="http://www.w3.org/2000/svg"
												aria-hidden="true">
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path></svg
										></a>
										</div>
									</div>
									<div class="cardImage">
										{% if service.image %}
										<img src="{{ service.image.url }}" alt="{{ service.title }}" />
										{% else %}
										<img src="{% static 'assets/imgs/page/homepage1/service1.png' %}" alt="{{ service.title }}" />
										{% endif %}
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					<div class="box-pagination-fleet">
						<div class="swiper-button-prev swiper-button-prev-fleet">
							<svg
								fill="none"
								stroke="currentColor"
								stroke-width="1.5"
								viewbox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
								aria-hidden="true">
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
							</svg>
						</div>
						<div class="swiper-button-next swiper-button-next-fleet">
							<svg
								fill="none"
								stroke="currentColor"
								stroke-width="1.5"
								viewbox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
								aria-hidden="true">
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section pt-120 pb-120 bg-our-fleet">
		<div class="container-sub">
			<div class="row align-items-center">
				<div class="col-lg-6 col-7">
					<h2 class="heading-44-medium title-fleet wow fadeInUp">Our Fleet</h2>
				</div>
				<div class="col-lg-6 col-5 text-end">
					<a class="text-16-medium color-primary wow fadeInUp" href="{% url 'fleet' %}"
						>More Fleet
						<svg
							class="icon-16"
							fill="none"
							stroke="currentColor"
							stroke-width="1.5"
							viewbox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
							aria-hidden="true">
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path></svg
					></a>
				</div>
			</div>
		</div>
		<div class="box-slide-fleet mt-50">
			<div class="box-swiper">
					<div class="swiper-container swiper-group-4-fleet pb-0">
						<div class="swiper-wrapper">
							{% for fleet in fleets %}
							<div class="swiper-slide">
								<div class="cardFleet wow fadeInUp">
									<div class="cardInfo">
										<a href="fleet-single.html">
											<h3 class="text-20-medium color-text mb-10">{{ fleet.title }}</h3></a
										>
										<p class="text-14 color-text mb-30">{{ fleet.description }}</p>
									</div>
									<div class="cardImage mb-30">
										<a href="fleet-single.html">
											{% if fleet.image %}
											<img src="{{ fleet.image.url }}" alt="{{ fleet.title }}" />
											{% endif %}
										</a>
									</div>
									<div class="cardInfoBottom">
										<div class="passenger fleet-meta">
											<span class="icon-circle icon-passenger"></span
											><span class="text-14"><span class="fleet-meta-label">Passengers</span><span class="fleet-meta-value">{{ fleet.passengers }}</span></span>
										</div>
										<div class="luggage fleet-meta">
											<span class="icon-circle icon-luggage"></span
											><span class="text-14"><span class="fleet-meta-label">Luggage</span><span class="fleet-meta-value">{{ fleet.luggage }}</span></span>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					<div class="box-pagination-fleet">
						<div class="swiper-button-prev swiper-button-prev-fleet">
							<svg
								fill="none"
								stroke="currentColor"
								stroke-width="1.5"
								viewbox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
								aria-hidden="true">
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
							</svg>
						</div>
						<div class="swiper-button-next swiper-button-next-fleet">
							<svg
								fill="none"
								stroke="currentColor"
								stroke-width="1.5"
								viewbox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
								aria-hidden="true">
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- <section class="section pt-120 pb-20 bg-primary bg-how-it-works">
		<div class="container-sub">
			<h2 class="heading-44-medium color-white mb-60 wow fadeInUp">How It Works</h2>
			<div class="row">
				<div class="col-lg-6 order-lg-last">
					<div class="box-main-slider">
						<div class="detail-gallery wow fadeInUp">
							<div class="main-image-slider">
								<figure>
									<img src="{% static 'assets/imgs/page/homepage1/laptop.png' %}" alt="luxride" />
								</figure>
								<figure>
									<img src="{% static 'assets/imgs/page/homepage1/desktop.png' %}" alt="luxride" />
								</figure>
								<figure>
									<img src="{% static 'assets/imgs/page/homepage1/desktop2.png' %}" alt="luxride" />
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 order-lg-first justify-content-between position-z3 wow fadeInUp">
					<ul class="slider-nav-thumbnails list-how">
						<li>
							<span class="line-white"></span>
							<h4 class="text-20-medium mb-20">Plan Your Route</h4>
							<p class="text-16">
								Enter your pickup and drop-off details or book hourly service with a private NYC chauffeur.
							</p>
						</li>
						<li>
							<span class="line-white"></span>
							<h4 class="text-20-medium mb-20">Choose Your Vehicle</h4>
							<p class="text-16">
								Select your preferred luxury vehicle and confirm your ride with clear pricing and trip details.
							</p>
						</li>
						<li>
							<span class="line-white"></span>
							<h4 class="text-20-medium mb-20">Enjoy Your Journey</h4>
							<p class="text-16">
								Relax in comfort while your professional chauffeur gets you to your destination on time.
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section> -->
	<!-- <section class="section mt-110">
		<div class="container-sub">
			<div class="text-center">
				<h2 class="heading-44-medium color-text wow fadeInUp">Make Your Ride Your Way With Us</h2>
			</div>
			<div class="row mt-50 cardIconStyleCircle">
				<div class="col-lg-4">
					<div class="cardIconTitleDesc wow fadeInUp">
						<div class="cardIcon">
							<img src="{% static 'assets/imgs/page/homepage1/safe.svg' %}" alt="luxride" />
						</div>
						<div class="cardTitle">
							<h5 class="text-20-medium color-text">Safety First</h5>
						</div>
						<div class="cardDesc">
							<p class="text-16 color-text">
								Ride with professional chauffeurs focused on safety, comfort, privacy, and first-class service.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="cardIconTitleDesc wow fadeInUp">
						<div class="cardIcon">
							<img src="{% static 'assets/imgs/page/homepage1/price.svg' %}" alt="luxride" />
						</div>
						<div class="cardTitle">
							<h5 class="text-20-medium color-text">No Hidden Prices</h5>
						</div>
						<div class="cardDesc">
							<p class="text-16 color-text">
								Both you and your shipments will travel with professional drivers. Always with the highest
								quality standards.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="cardIconTitleDesc wow fadeInUp">
						<div class="cardIcon">
							<img src="{% static 'assets/imgs/page/homepage1/vehicle.svg' %}" alt="luxride" />
						</div>
						<div class="cardTitle">
							<h5 class="text-20-medium color-text">Private Travel Solutions</h5>
						</div>
						<div class="cardDesc">
							<p class="text-16 color-text">
								Book airport transfers, hourly rides, events, and business travel across New York City.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- <section class="section mb-30 mt-80 box-showcase">
		<div class="bg-showcase pt-100 pb-70">
			<div class="container-sub">
				<div class="row align-items-center">
					<div class="col-lg-6 mb-30">
						<h2 class="heading-44-medium color-white wow fadeInUp">Showcase some impressive numbers.</h2>
					</div>
					<div class="col-lg-6">
						<div class="row align-items-center">
							<div class="col-4 mb-30 wow fadeInUp">
								<div class="box-number">
									<h2 class="heading-44-medium color-white">285</h2>
									<p class="text-20 color-white">Vehicles</p>
								</div>
							</div>
							<div class="col-4 mb-30 wow fadeInUp">
								<div class="box-number">
									<h2 class="heading-44-medium color-white">97</h2>
									<p class="text-20 color-white">Awards</p>
								</div>
							</div>
							<div class="col-sm-4 col-12 mb-30 wow fadeInUp">
								<div class="box-number">
									<h2 class="heading-44-medium color-white">13K</h2>
									<p class="text-20 color-white">Happy Customer</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->

	<!-- <section class="section pt-80 mb-30">
		<div class="container-sub">
			<div class="box-faqs">
				<div class="text-center">
					<h2 class="color-brand-1 mb-20 wow fadeInUp">Frequently Asked Questions</h2>
				</div>
				<div class="mt-60 mb-40">
					<div class="accordion wow fadeInUp" id="accordionFAQ">
						<div class="accordion-item">
							<h5 class="accordion-header" id="headingOne">
								<button
									class="accordion-button text-heading-5"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseOne"
									aria-expanded="true"
									aria-controls="collapseOne">
									How do I book a Velvet Limo?
								</button>
							</h5>
							<div
								class="accordion-collapse collapse show"
								id="collapseOne"
								aria-labelledby="headingOne"
								data-bs-parent="#accordionFAQ">
								<div class="accordion-body">
									You can book your ride online by entering pickup, drop-off, date, time, and vehicle details.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h5 class="accordion-header" id="headingTwo">
								<button
									class="accordion-button text-heading-5 collapsed"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseTwo"
									aria-expanded="false"
									aria-controls="collapseTwo">
									How do I schedule an airport transfer?
								</button>
							</h5>
							<div
								class="accordion-collapse collapse"
								id="collapseTwo"
								aria-labelledby="headingTwo"
								data-bs-parent="#accordionFAQ">
								<div class="accordion-body">
									Share your flight details, and our chauffeur will track your arrival for smooth pickup.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h5 class="accordion-header" id="headingThree">
								<button
									class="accordion-button text-heading-5 collapsed text-heading-5 type="
									data-bs-toggle="collapse"
									data-bs-target="#collapseThree"
									aria-expanded="false"
									aria-controls="collapseThree">
									Can I book hourly chauffeur service in New York?
								</button>
							</h5>
							<div
								class="accordion-collapse collapse"
								id="collapseThree"
								aria-labelledby="headingThree"
								data-bs-parent="#accordionFAQ">
								<div class="accordion-body">
									Yes, Velvet Limo offers hourly chauffeur service for meetings, events, and city travel.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h5 class="accordion-header" id="headingFour">
								<button
									class="accordion-button text-heading-5 collapsed"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseFour"
									aria-expanded="false"
									aria-controls="collapseFour">
									How early should I reserve my ride?
								</button>
							</h5>
							<div
								class="accordion-collapse collapse"
								id="collapseFour"
								aria-labelledby="headingFour"
								data-bs-parent="#accordionFAQ">
								<div class="accordion-body">
									We recommend booking early, especially for airport rides, events, and weekend travel.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h5 class="accordion-header" id="headingFive">
								<button
									class="accordion-button text-heading-5 collapsed"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseFive"
									aria-expanded="false"
									aria-controls="collapseFive">
									Where can I get support or change my booking?
								</button>
							</h5>
							<div
								class="accordion-collapse collapse"
								id="collapseFive"
								aria-labelledby="headingFive"
								data-bs-parent="#accordionFAQ">
								<div class="accordion-body">
									Contact our support team anytime for booking changes, ride updates, or service questions.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- <section class="section pt-120 pb-90 bg-primary">
		<div class="container-sub">
			<div class="row align-items-center">
				<div class="col-lg-6 col-7">
					<h2 class="heading-44-medium color-white wow fadeInUp">Latest From News</h2>
				</div>
				<div class="col-lg-6 col-5 text-end">
					<a class="text-16-medium color-white hover-up d-inline-block wow fadeInUp" href="#"
						>More News
						<svg
							class="icon-16 color-white"
							fill="none"
							stroke="currentColor"
							stroke-width="1.5"
							viewbox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
							aria-hidden="true">
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path></svg
					></a>
				</div>
			</div>
			<div class="row mt-50">
				<div class="col-lg-4">
					<div class="cardNews wow fadeInUp">
						<a href="blog-single.html">
							<div class="cardImage">
								<div class="datePost">
									<div class="heading-52-medium color-white">14.</div>
									<p class="text-14 color-white">Jun, 2022</p>
								</div>
								<img src="{% static 'assets/imgs/page/homepage1/news1.png' %}" alt="luxride" /></div
						></a>
						<div class="cardInfo">
							<div class="tags mb-10"><a href="#">Travel</a></div>
							<a class="color-white" href="blog-single.html">
								<h3 class="text-20-medium color-white mb-20">
									3 hidden-gem destinations for your wish list
								</h3></a
							><a class="cardLink btn btn-arrow-up" href="blog-single.html">
								<svg
									class="icon-16"
									fill="none"
									stroke="currentColor"
									stroke-width="1.5"
									viewbox="0 0 24 24"
									xmlns="http://www.w3.org/2000/svg"
									aria-hidden="true">
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path></svg
							></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="cardNews wow fadeInUp">
						<a href="blog-single.html">
							<div class="cardImage">
								<div class="datePost">
									<div class="heading-52-medium color-white">18.</div>
									<p class="text-14 color-white">Jun, 2022</p>
								</div>
								<img src="{% static 'assets/imgs/page/homepage1/news2.png' %}" alt="luxride" /></div
						></a>
						<div class="cardInfo">
							<div class="tags mb-10"><a href="#">Culture</a></div>
							<a class="color-white" href="blog-single.html">
								<h3 class="text-20-medium color-white mb-20">
									Explore the big things happening in Dallas
								</h3></a
							><a class="cardLink btn btn-arrow-up" href="blog-single.html">
								<svg
									class="icon-16"
									fill="none"
									stroke="currentColor"
									stroke-width="1.5"
									viewbox="0 0 24 24"
									xmlns="http://www.w3.org/2000/svg"
									aria-hidden="true">
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path></svg
							></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="cardNews wow fadeInUp">
						<a href="blog-single.html">
							<div class="cardImage">
								<div class="datePost">
									<div class="heading-52-medium color-white">20.</div>
									<p class="text-14 color-white">Jun, 2022</p>
								</div>
								<img src="{% static 'assets/imgs/page/homepage1/news3.png' %}" alt="luxride" /></div
						></a>
						<div class="cardInfo">
							<div class="tags mb-10"><a href="#">News</a></div>
							<a class="color-white" href="blog-single.html">
								<h3 class="text-20-medium color-white mb-20">
									LA’s worst traffic areas and how to avoid them
								</h3></a
							><a class="cardLink btn btn-arrow-up" href="blog-single.html">
								<svg
									class="icon-16"
									fill="none"
									stroke="currentColor"
									stroke-width="1.5"
									viewbox="0 0 24 24"
									xmlns="http://www.w3.org/2000/svg"
									aria-hidden="true">
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path></svg
							></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- <section class="section pt-80 mb-30 bg-faqs">
		<div class="container-sub">
			<div class="box-faqs">
				<div class="text-center">
					<h2 class="color-brand-1 mb-20 wow fadeInUp">Frequently Asked Questions</h2>
				</div>
				<div class="mt-60 mb-40">
					<div class="accordion wow fadeInUp" id="accordionFAQ">
						<div class="accordion-item">
							<h5 class="accordion-header" id="headingOne">
								<button
									class="accordion-button text-heading-5"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseOne"
									aria-expanded="true"
									aria-controls="collapseOne">
									How do I create an account?
								</button>
							</h5>
							<div
								class="accordion-collapse collapse show"
								id="collapseOne"
								aria-labelledby="headingOne"
								data-bs-parent="#accordionFAQ">
								<div class="accordion-body">
									Sad ipscing elitrsed diamnonu myeir mod, sadipscing elitrsed dia morem ipsum dolor situamet
									consetetur loutrytru hury. Lorem ipsum dolor sitametco nsetetur sa cingelitrse diamonu
									eirmoid, sad ipscing elitrstrud diamtre ute riyutroui tout.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h5 class="accordion-header" id="headingTwo">
								<button
									class="accordion-button text-heading-5 collapsed"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseTwo"
									aria-expanded="false"
									aria-controls="collapseTwo">
									How do I earn Easy Ride Rewards points?
								</button>
							</h5>
							<div
								class="accordion-collapse collapse"
								id="collapseTwo"
								aria-labelledby="headingTwo"
								data-bs-parent="#accordionFAQ">
								<div class="accordion-body">
									Sad ipscing elitrsed diamnonu myeir mod, sadipscing elitrsed dia morem ipsum dolor situamet
									consetetur loutrytru hury. Lorem ipsum dolor sitametco nsetetur sa cingelitrse diamonu
									eirmoid, sad ipscing elitrstrud diamtre ute riyutroui tout.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h5 class="accordion-header" id="headingThree">
								<button
									class="accordion-button text-heading-5 collapsed text-heading-5 type="
									data-bs-toggle="collapse"
									data-bs-target="#collapseThree"
									aria-expanded="false"
									aria-controls="collapseThree">
									How can I add my credit card on the app for payments?
								</button>
							</h5>
							<div
								class="accordion-collapse collapse"
								id="collapseThree"
								aria-labelledby="headingThree"
								data-bs-parent="#accordionFAQ">
								<div class="accordion-body">
									Sad ipscing elitrsed diamnonu myeir mod, sadipscing elitrsed dia morem ipsum dolor situamet
									consetetur loutrytru hury. Lorem ipsum dolor sitametco nsetetur sa cingelitrse diamonu
									eirmoid, sad ipscing elitrstrud diamtre ute riyutroui tout.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h5 class="accordion-header" id="headingFour">
								<button
									class="accordion-button text-heading-5 collapsed"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseFour"
									aria-expanded="false"
									aria-controls="collapseFour">
									How do I become a Captain?
								</button>
							</h5>
							<div
								class="accordion-collapse collapse"
								id="collapseFour"
								aria-labelledby="headingFour"
								data-bs-parent="#accordionFAQ">
								<div class="accordion-body">
									Sad ipscing elitrsed diamnonu myeir mod, sadipscing elitrsed dia morem ipsum dolor situamet
									consetetur loutrytru hury. Lorem ipsum dolor sitametco nsetetur sa cingelitrse diamonu
									eirmoid, sad ipscing elitrstrud diamtre ute riyutroui tout.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h5 class="accordion-header" id="headingFive">
								<button
									class="accordion-button text-heading-5 collapsed"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseFive"
									aria-expanded="false"
									aria-controls="collapseFive">
									Where can I get more information, support or make a claim?
								</button>
							</h5>
							<div
								class="accordion-collapse collapse"
								id="collapseFive"
								aria-labelledby="headingFive"
								data-bs-parent="#accordionFAQ">
								<div class="accordion-body">
									Sad ipscing elitrsed diamnonu myeir mod, sadipscing elitrsed dia morem ipsum dolor situamet
									consetetur loutrytru hury. Lorem ipsum dolor sitametco nsetetur sa cingelitrse diamonu
									eirmoid, sad ipscing elitrstrud diamtre ute riyutroui tout.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
</main>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const dateInput = document.getElementById('quote-current-date');
		const timeInput = document.getElementById('quote-current-time');
		const now = new Date();

		if (dateInput && !dateInput.value) {
			dateInput.value = now.toLocaleDateString('en-US', {
				weekday: 'short',
				month: 'short',
				day: '2-digit',
				year: 'numeric',
			});
		}

		if (timeInput && !timeInput.value) {
			timeInput.value = now.toTimeString().slice(0, 5);
		}
	});
</script>
{% endblock %}
