{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="main">
	<section class="section mt-120 mb-100">
		<div class="container-sub">
			<div class="text-center">
				<h2 class="heading-44-medium wow fadeInUp">Sign in</h2>
				<p class="color-text text-14 wow fadeInUp">Use your account to request quotes and save your details.</p>
			</div>
			<div class="box-login mt-70">
				<div class="form-contact form-comment wow fadeInUp">
					<form method="post">
						{% csrf_token %}
						{% if form.non_field_errors %}
							<div class="alert alert-danger">{{ form.non_field_errors }}</div>
						{% endif %}
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label class="form-label" for="id_username">Email</label>
									{{ form.username }}
									{{ form.username.errors }}
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group">
									<label class="form-label" for="id_password">Password</label>
									{{ form.password }}
									{{ form.password.errors }}
								</div>
							</div>
							<div class="col-lg-12">
								<button class="btn btn-primary w-100" type="submit">Sign in</button>
							</div>
							<div class="mt-0 text-center">
								<span class="text-14-medium color-text">Not signed up? </span><a class="text-14-medium color-text" href="{% url 'register' %}">Create an account.</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}
